<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4 artistItem">
    <div class="item">
        <div class="pos-rlt">
            <div class="item-overlay bg-black-opacity r r-2x">
                <div class="center text-center m-t-n w-full">
                    <a ui-sref="music.artist({id:artist.artistId})"><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                </div>
            </div>
            <div ng-if="isfav" class="top w-full">
              <span class="pull-right m-t-n-xs m-r-sm text-white">
                <i class="fa fa-bookmark i-lg"></i>
              </span>
            </div>
            <a ui-sref="music.artist({id:artist.artistId})"><img ng-src="{{artist.artworkUrl100}}" alt="" class="img-full r r-2x"></a>

        </div>
        <div class="padder-v">
            <a ui-sref="music.detail" class="text-ellipsis">{{artist.trackName}}</a>
            <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted">{{artist.artistName}}</a>
            <button ng-if="!isfav" ng-click="addtofavorites()"  class="btn btn-info btn-sm" type="button">
                add to Favoris <span class="glyphicon-star-empty"></span>
            </button>
            <button ng-click="removefromfavorites()"  ng-if="isfav" class="btn btn-warning btn-sm" type="button">
                Favoris <span class="glyphicon glyphicon-star-empty"></span>
            </button>
        </div>
    </div>
</div>
